<?xml version="1.0" encoding="UTF-8"?>
<Context>
    <WatchedResource>WEB-INF/web.xml</WatchedResource>
    <WatchedResource>${catalina.base}/conf/web.xml</WatchedResource>

{% for item in datasources %}
    <Resource name="jdbc/{{item.name}}" auth="Container" type="javax.sql.DataSource"
        maxTotal="{{item.max_pool_size}}" maxIdle="{{item.min_pool_size}}" maxWaitMillis="10000"
        username="{{item.username}}" password="{{item.passwd|replace('\n', '')}}" driverClassName="{{item.driver}}"
        url="{{item.url}}"/>
{% endfor %}
</Context>
