check process tomcat
    matching "{{pattern}}"
    start program = "{{start_program}}"
    stop program = "{{stop_program}}"
    if does not exist 5 cycles then restart
    if cpu usage > 45% for 5 cycles then alert
    if memory usage > 45% for 5 cycles then alert
    if 3 restarts within 5 cycles then timeout

{% if wrapper_role is defined %}
check host {{wrapper_role}} with address 127.0.0.1
    if failed port {{port}} protocol http
    and request /{{wrapper_role}}/date.jsp with content = "Today is "
    for 10 cycles then alert
{% endif %}
